.label {
    font-size: 1.2rem;
    font-weight: bold;
}

.input {
    margin: 1rem 0;
    padding: 1em 1.5em;

    width: auto;

    border-radius: 20px;
    border: 1.5px solid gainsboro;

    font-size: 1.1rem;
    font-weight: normal;
}

.input:focus {
    outline: none !important;
    border: 2px solid #4DC05A;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}