/* mobile */
.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid #d9dadc;
    border-radius: 10px;
}

.playlist img {
    width: 100px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.content_playlist {
    padding: 0.8rem 1.2rem;
}

.content_playlist button {
    font-size: 0.8rem;
    padding: 1rem;
}

/* desktop */
@media screen and (min-width: 900px){
    .playlist img {
        width: 130px;
    }

    .content_playlist {
        padding: 2rem;
    }

    .content_playlist button {
        font-size: 1rem;
    }
}