.text_item {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;

    gap: 0 2rem;
    width: 500px;
}

.title_item {
    font-size: 1.3rem;
    font-weight: bold;

    margin: 0;
}

.artists_item {
    font-size: 1.1rem;
    opacity: 0.7;

    padding: 0.5rem 0;

    margin: 0;
}