/* mobile first */
.text_item {
    display: flex;
    flex-direction: column;
    width: auto;

    margin-bottom: 10px;
}

.title_item {
    font-size: 1rem;
    font-weight: bold;

    margin: 0;
}

.artists_item {
    font-size: 0.8rem;
    opacity: 0.7;

    padding: 0.5rem 0;
    margin: 0;
}

/* desktop then */
@media (min-width: 990px) {
    .title_item {
        font-size: 1.3rem;
    }
    .artists_item {
        font-size: 1rem;
    }
}