/* mobile */
.track_playlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* desktop */
@media screen and (min-width: 900px){
    .div_search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;
    }
    .track_playlist {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}