/* mobile */
.playlist_form {
    display: flex;
    flex-direction: column;
}

.playlist_form button {
    width: 100%;
    height: auto;

    padding: 1rem;
}

/* desktop */
@media screen and (min-width: 900px){
    .playlist_form {
        width: 300px;
    }

    .playlist_form button {
        width: 100%;
        height: auto;
    
        padding: 1rem;
    }
}