.playlist {
    border: 1.5px solid greenyellow;

    padding: 2rem;
    margin: 0 auto;

    width: fit-content;
    height: auto;
}

h1 {
    margin: 2rem 0;
}

.list-playlist {
    display: flex;
    flex-direction: row;
    
    gap: 2rem;
}