.playlist {
    margin: 0 auto;
}

.container {
    padding: 0 10rem;
}

.title {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.title h1 {
    color: black;
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.list_playlist {
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    margin: 2rem 0;
}

.list_playlist h1 {
    color: black;
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: bold;

    text-align: center;
}

.list_playlist input {
    margin: 3rem 0;
    padding: 15px;

    width: 300px;

    border-radius: 20px;
    border: 2px solid gainsboro;

    font-size: 1.1rem;
    font-weight: normal;
}