/* mobile */
.div_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #d9dadc;
    padding: 1.5rem;
}

.div_navbar a {
    text-decoration: none;
}

.div_navbar img {
    width: 50px;
    height: auto;
}

.div_navbar .div_button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
}

.div_navbar .div_button button {
    width: 100%;
    height: auto;

    padding: 1rem 1.5rem;
}

/* desktop */
@media screen and (min-width: 900px){
    .div_navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 8rem;
        height: 80px;
    }

    .div_navbar h1 {
        margin: 3rem 0;
    }

    .div_navbar img {
        width: 50px;
        height: auto;
    }

    .div_navbar .div_button {
        flex-direction: row;
        gap: 0.7rem;
        margin: 1.5rem 0;
        width: auto;
    }
}