/* mobile */
.div_navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #d9dadc;
    padding: 1.5rem;
}

.div_navbar a {
    text-decoration: none;
}

.div_navbar a h1 {
    color: black;
    font-size: 1.8rem;
    font-weight: 500;

    margin: 0;
}

.div_navbar .div_button {
    display: flex;
    gap: 0.7rem;

    margin: 1.5rem 0;
}

/* desktop */
@media screen and (min-width: 900px){
    .div_navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 8rem;
        height: 80px;
    }

    .div_navbar h1 {
        margin: 3rem 0;
    }
}