.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid #d9dadc;
    border-radius: 10px;
    box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
    -webkit-box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
    -moz-box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
}

.playlist:hover {
    background-color: #eee;
    transition: all .15s ease;
}

.playlist img {
    width: 150px;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.content_playlist {
    padding: 2rem;
}