.playlist_item {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: auto;
    height: auto;
    padding: 0 2rem;

    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
    -webkit-box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
    -moz-box-shadow: 6px 10px 30px -10px rgba(214,197,199,0.64);
}

.playlist_item .h1 {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;

    background-color: #00A512;
    color: white;

    margin-right: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}