/* mobile */
.form {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
}

.form button {
    width: 100%;
    height: auto;

    padding: 1rem;
}

/* desktop */
@media screen and (min-width: 900px){
    .form {
        display: flex;
        flex-direction: row;
        
        gap: 1rem;
    }

    .form input {
        width: 250px;
    }

    .form button {
        width: auto;
    }
}